/* .errorMsg{
  height: 1.375em;
}
.Jump-to {
  width: 52px;
  height: 21px;
  font-family: Heebo;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #8c8c8c;
}
.topLabel {
  height: 21px;
  font-family: Heebo;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #ba1f00;
}
.midLabel {
  height: 26px;
  font-family: Heebo;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.What-do-you-want-to-take-up-today {
  width: 920px;
  height: 34px;
  font-family: Heebo;
  font-size: 26px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;s
  letter-spacing: normal;
  text-align: left;
  color: #34163b;
}
.Prepare-Zone {
  width: 84px;
  height: 21px;
  font-family: Heebo;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: normal;
  text-align: left;
  color: #34163b;
} */
.wrapper{
  padding: 3rem;
  width: 100%;
}
.headerTitle{
  width: 100%;
  margin-bottom: 2rem;
  display: block;
}
.headerTitle p{
  font-size: 14px;
  color: #34163b;
}
.headerTitle h1{
  font-size:26px;
  color: #34163b;
}
.jumpTo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin-bottom: 1.5rem;
}
.jumpTo p{
  color: #ba1f00;
  border-bottom: 1px dashed;
}
.jumpTo p:first-child{
  color: #8c8c8c;
  border-bottom: 1px transparent;
}
section{
  width: 100%;
  padding: 1.5rem 0;
}
.grid-wrapper{
  display: grid;
	grid-template-rows: auto;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 15px;
}
.card{
  background: #fff;
  border-radius: 15px;
  border:1px solid #ebebeb;
}
.card-body{
  padding:20px;
}
.card-body p{
  padding: 0 10px;
  margin-bottom: 15px;
}
.card-body h2{
  padding: 0 10px;
  margin-bottom: 15px;
}
.cFoot{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mb-15{
  margin-bottom: 15px;
}

.Roadmap {
  width: 380px;
  height: 26px;
  font-family: Heebo;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.Why-should-I-Contribute {
  width: 640px;
  height: 24px;
  font-family: Heebo;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.Estimated-time-0345-min {
  width: 173px;
  height: 21px;
  font-family: Heebo;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.29;
  letter-spacing: 0.42px;
  text-align: left;
  color: #8d8d8d;
}

.title {
  width: 362px;
  height: 27px;
  font-family: Heebo;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.89;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.frontSummary {
  width: 648px;
  height: 78px;
  font-family: Heebo;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: 0.42px;
  text-align: left;
  color: #000000;
}

.Best-Practices {
  width: 380px;
  height: 25px;
  font-family: Heebo;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.LeftSelection {
  width: 91px;
  height: 21px;
  font-family: Heebo;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #34163b;
}